.container {
  border: 0.2rem solid var(--border-color);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-md);
  margin-block: var(--spacing-md);
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--primary-color),
    0 0 0.8rem var(--primary-color), 0 0 2.8rem var(--primary-color),
    inset 0 0 1.3rem var(--primary-color);
  background-color: var(--background-transparent);
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.text {
  padding: 0;
  margin: 0;
  width: 100%;

  &[data-active="true"] {
    animation: text-moving 16s steps(100) infinite;
    animation-delay: -8s;
  }
}

@keyframes text-moving {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
