.container {
  border-radius: var(--border-radius-sm);
  padding: var(--spacing-md);
  margin-block: var(--spacing-md);
  background-color: var(--background-transparent);
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.text {
  padding: 0;
  margin: 0;
  width: 100%;
  color: #fff;

  &[data-active="true"] {
    animation: text-moving 16s steps(100) infinite;
    animation-delay: -8s;
  }
}

@keyframes text-moving {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
