.button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: var(--border-radius-round);
  background-color: var(--button-color-background);
  transition: all ease var(--duration-normal);
  color: var(--button-color-text);
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active {
    border-color: var(--primary-color);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--focus-shadow);
  }
}
