.button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-round);
  background-color: var(--button-color-background);
  transition: all ease var(--duration-normal);

  &:hover,
  &:active {
    border-color: var(--primary-color);
  }

  &:focus-visible {
    outline: none;
    box-shadow: var(--focus-shadow);
  }
}
