.button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius-round);
  background-color: var(--button-color-background);
  transition: background-color var(--duration-normal);

  &:hover {
    background-color: var(--button-color-background-hover);
  }

  &:active {
    background-color: var(--button-color-background-active);
  }
}
