.container {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-background);
  transition: opacity 0.8s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.foreground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: var(--z-index-background);
  filter: blur(0.6em) saturate(0.8) contrast(1.1) brightness(1.5);
  animation: pulse 20s infinite ease-in-out;
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}
