.container {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-background);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.foreground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(0.55em) saturate(0.8) contrast(1) brightness(2);
  animation: fade-in 2s ease-in-out;
}

.background {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  animation: fade-in 1s ease-in-out;
}
